
body {
    background: #E0E0E0;
    height: 100%;
    width: 100%;
}

.intro {
    display: table;
    width: 100%;
    height: 650px;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #000;
    background: no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 80px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    margin-bottom: 50px;
}

/*ipad*/
@media(min-width:768px) {
    .intro {
        height: 650px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 80px;
    }

    .intro .intro-body .intro-text {
        font-size: 16px;
    }

}

/*mobile*/
@media screen and (max-width: 480px) {
    .auth .card {
        width: 100%;
        margin: 0 auto;
    }

    .logo {
        font-size: 60px;
    }
    .intro {
        height: 550px;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 60px;
    }

    .intro .intro-body .intro-text {
        font-size: 12px;
    }

    .title .title-body {
        background-color: #424242;
        width: 100%;
        height: 100px;
    }

    .title .title-font {
        color: white;
        padding: 20px 20px 20px 20px;
        font-size: 40px;
    }

    .container-main .container-title {
        color: black;
        padding: 80px 20px 0px 20px;
        font-size: 20px;
    }

    .container-main .container-font {
        color: black;
        padding: 20px 20px 20px 20px;
        font-size: 10px;
    }

    .foot-m .foot li{
        margin: 0 3px 0 3px;
        padding-right: 10px;
    }

    .card-m {
        margin-right: 30px;
    }

    .chat-m .chat {
        margin: 10px 10px 10px 10px;
    }

    .chat-m .chat .chat-messages {
        height: 100px;
    }

}

.btn-circle {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    padding: 1px 9px;
    border: 2px solid ;
    border-radius: 100%;
    font-size: 30px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.foot {
    position: fixed;
    z-index: inherit;;
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    box-shadow: 0px -5px 10px -5px rgba(0,0,0,.85);
    background-color: rgba(28, 34, 37, 0.95);
    color: white;
    border-top: 1px solid black;
    z-index: 1;
}

.foot li {
    margin: 0 30px 0 30px;
    padding-right: 30px;
    display: inline;
    border-right:1px solid #999
}

.foot .copy {
    float: right;
    border-right: none;
}

.topScroll {
    position: fixed;
    z-index: 1;
    bottom: 0px;
    margin : 20px 20px 50px 20px;
}

.title {
    background-color: #424242;
    width: 100%;
    height: 150px;
}

.title-font {
    color: white;
    padding: 20px 20px 20px 100px;
    font-size: 60px;
}

.container-title {
    color: black;
    padding: 80px 20px 0px 100px;
    font-size: 50px;
}

.container-font {
    color: black;
    padding: 20px 20px 20px 100px;
    font-size: 20px;
}

.auth {
    margin-top: 50px;
    text-align: center;
}

.logo {
    text-align: center;
    font-weight: 100;
    font-size: 80px;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

a.logo {
    color: #5B5B5B;
}

a {
    cursor: pointer;
}

.auth .card {
    max-width: 400px;
    margin: 0 auto;
}

.auth .header {
    font-size: 18px;
}

.auth .row {
    margin-bottom: 0px;
}

.auth .username {
  margin-top: 0px;
}

.auth .btn {
    width: 90%;
}

.auth .footer {
    border-top: 1px solid #E9E9E9;
    padding-bottom: 21px;
}

.topic {
    padding-top: 100px;
}

textarea,
input {
    font : 13px "Trebuchet MS", sans-serif;
}

.card-m .card-t {
    max-width: 300px;
    margin: 50px 10px 10px 50px;
    max-height: 500px;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-top: 50px;
    float: left;
}

.chat {
    width : 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin: 30px 50px 10px 10px;
    padding-bottom: 50px;
    float : right;
    z-index: 1;
}

.chat-messages,
.chat-textarea,
.chat-name {
    border : 1px solid #bbb;
}

.chat-messages {
    height : 470px;
    overflow-y : scroll;
    padding : 10px;
    background-color: black;
    margin-top: 20px;
}

.chat-message {
    word-break:break-all;
    color: white;
}

.chat-name {
    border-bottom : 0;
    padding: 5px;
    background-color: black;
}

.menuicon {
    margin-left: -15px;
    margin-top: -20px;
    color: gray;
}
